.data-image
{
    width: 70px;
    height: 70px;
}
.body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.titles{
    color: #337ab7;
    font-size: 18px;
    border-left: 5px solid #ea5b4b;
    padding-left: 10px;
    text-transform: uppercase;
    display: inline-block;
}